{% extends 'base.html' %}

{% block content %}
  <h1>Comments for "{{ post.title }}"</h1>
  <p>{{ post.content }}</p>
  <p>Author: {{ post.author.username }}</p>
  <p>Created at: {{ post.created_at }}</p>
  <p>Updated at: {{ post.updated_at }}</p>

  <!-- Display Comments -->
  {% if comments %}
    <h2>Comments:</h2>
    {% for comment in comments %}
      <div>
        <p>{{ comment.user.username }} commented on {{ comment.created_at }}:</p>
        <p>{{ comment.content }}</p>
      </div>
    {% endfor %}
  {% else %}
    <p>No comments yet.</p>
  {% endif %}

  <!-- Add a link to add a new comment for the post -->
  <a href="{% url 'add_comment' post.pk %}">Add a Comment</a>

  <br>
  <a href="{% url 'home' %}">Back to All Blog Posts</a>
{% endblock %}