{% extends 'base.html' %}

{% block content %}
  <h1>Search Results</h1>
  <input type="text" id="search-input" placeholder="Type to search">
  <ul id="search-results"></ul>

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script>
    $(document).ready(function () {
      var inputField = $('#search-input');
      var resultsList = $('#search-results');
  
      inputField.on('input', function () {
        var query = inputField.val().trim();
        if (query.length > 0) {
          $.get("{% url 'search_posts_live' %}", { q: query }, function (data) {
            resultsList.empty();
            if (data.result === 'success') {
              if (data.posts.length > 0) {
                for (var i = 0; i < data.posts.length; i++) {
                  resultsList.append('<li>' + data.posts[i].title + '</li>');
                }
              } else {
                resultsList.append('<li>No results found.</li>');
              }
            } else {
              resultsList.append('<li>Error processing the request.</li>');
            }
          });
        } else {
          resultsList.empty();
        }
      });
    });
  </script>
{% endblock %}