{% extends 'base.html' %}

{% block content %}
  <h1>User Profile</h1>
  {% if user.is_authenticated %}
    <p>Welcome, {{ username }}!</p>
    <h2>Your Blog Posts</h2>
    {% if blog_posts %}
      <ul>
        {% for post in blog_posts %}
          <li>
            <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>

            <!-- Display likes and comments counts -->
            <p>Likes: {{ post.like_set.count }}</p>
            <p>Comments: {{ post.comment_set.count }}</p>
            
            <!-- Display edit and delete options for the user's own posts -->
            <a href="{% url 'post_update' post.id %}">Edit</a>
            <a href="{% url 'post_delete' post.id %}">Delete</a>

            <!-- Add a link to view comments for the post -->
            <form method="post" action="{% url 'set_like' post.pk %}">
              {% csrf_token %}
              <button type="submit">
                {% if post.is_liked %}
                  Unlike
                {% else %}
                  Like
                {% endif %}
              </button>
            </form>
            <a href="{% url 'post_comments' post.pk %}">View Comments</a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>You haven't written any blog posts yet.</p>
    {% endif %}
    <!-- Add other user profile information here -->
  {% else %}
    <p>Please log in to view your profile.</p>
  {% endif %}
{% endblock %}